body {
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;

}
.techBlog {
    font-size: 24px;
    font-weight: 700;
    height: 50px;
    width: 152px;
    background-color: #F0EDFF;
    color: #5B47D1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 83px;
    
}

.header a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    margin-right: 13px;
}

.introSection{
    background-image: url(./assets/e11fe0289d1ad6e93656e54c43b99f9275d82560.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.introSection h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 37px;
}

.introSection h3 {
    font-size: 20px;
    font-weight: 500;
}

.mainSection h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    background-color: #F5F5F7;
    padding-top: 45px;
    padding-bottom: 49px;
}

.finalChanges {
    background-color: #F5F5F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1122px;
}

.rectRow1 {
    display: flex;
}
.rectRow2 {
    display: flex;
    padding-bottom: 122px;
}

.fullRect {
    margin-right: 29px;
    margin-bottom: 29px
}

.purple {
    width: 360px;
    height: 240px;
    background-color: #C7B8FF;
}

.pink {
    width: 360px;
    height: 240px;
    background-color: #FFB8D8;
}

.blue {
    width: 360px;
    height: 240px;
    background-color: #B8E0FF;
}

.green {
    width: 360px;
    height: 240px;
    background-color: #D4FFB8;
}

.orange {
    width: 360px;
    height: 240px;
    background-color: #FFE4B8;
}

.red {
    width: 360px;
    height: 240px;
    background-color: #FFD4B8;
}


.recttext {
    width: 322px;
    height: 200px;
    background-color: white;
    padding: 15px 19px 17px 19px;
}

.recttext span {
    font-size: 13px;
    font-weight: 400;
    margin-right: 28px;
    
}

.recttext h4 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 6px;
}

.recttext p {
    font-size: 15px;
    font-weight: 400;
}


.footerUpperHalf {
    color: white;
    background-color: #252424;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 349px;
}

.footerUpperHalf h4 {
    font-size: 20px;
    font-weight: 600;
}

.footerUpperHalf span {
    font-size: 14px;
    font-weight: 400;
}

.footerUpperHalf p {
    font-size: 14px;
    font-weight: 600;
}


.tech-contact {
    margin-top: 57px;
    margin-bottom: 47px;
    margin-right: 82px;
}

.tech-contact h4 {
    margin-top: 34px;
    margin-bottom: 11px;
}

.tech-contact span {
    color: #A1A1A6;
}

.tech-contact p {
    margin-bottom: 11px;
    color: #A1A1A6;
}

.categories {
    margin-top: 54px;
    margin-bottom: 156px;
}

.categories h4 {
    margin-top: 17px;
    margin-bottom: 14px;
}

.categories p {
    margin-bottom: 11px;
    color: #A1A1A6;
}

.footerLowerHalf {
    color: #86868B;
    background-color: #020202;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}

.footerLowerHalf span{
    font-weight: 600;
    font-size: 13px;
}